@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";

/* reset */
@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
